* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main_container{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
}

.logo{
  order:1;
  margin:12px 20px 10px 20px;
}

.hamburger_flex{
  order:2;
  margin: 10px 0px 10px 27%;
}

nav{
  order:3;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

.image {
  display:none;
}

.hidden{
  display:none;
}

.nav_bar_content{
  list-style: none;
}
/* Add your CSS here */

